<%- include('../../partials/head') %>

    <body class="d-flex flex-column vh-100">
        <%- include('../../partials/header') %>
            <div class="container offset-md-2 col-md-8">
                <%- include('../../partials/flash') %>
                    <h1 class="my-3 text-center">All campgrounds</h1>
                    <a class="btn btn-info mb-3" href="/campground/new">Add a new campground</a>
                    <% for (let campground of campgrounds) { %>
                        <div class="card mb-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <% if (campground.image.length> 0) { %>
                                        <img src="<%= campground.image[0].thumbnail %>" class="card-img-top"
                                            style="height: 100%;" loading="lazy">
                                        <% } %>
                                            <% if (campground.image.length<=0){ %>
                                                <img src="https://res.cloudinary.com/dabj76ny7/image/upload/w_800/v1718032719/hyojwufdybylc0vtocel.avif"
                                                    class="card-img-top" style="height: 100%;" loading="lazy">
                                                <% } %>
                                </div>
                                <div class="card-body col-md-8">
                                    <h3 class="card-title">
                                        <%= campground.title %>
                                    </h3>
                                    <h5 class="card-title">
                                        <%= campground.location %>
                                    </h5>
                                    <p class="card-text">
                                        <%= campground.description %>
                                    </p>
                                    <p class="fst-italic">
                                        $<%= campground.price %>
                                    </p>
                                    <a href="/campground/<%= campground._id %>" class="btn btn-primary">View it</a>
                                    <% if (currentUser && campground.user._id.equals(currentUser._id)) { %>
                                        <a href="/campground/<%= campground._id %>/edit" class="btn btn-warning">Edit
                                            it</a>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                        <% } %>

            </div>
            <%- include('../../partials/footer') %>
    </body>

    </html>